<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application android:label="Super Mario Bros."
                 android:allowBackup="false"
                 android:hasFragileUserData="true"
                 android:isGame="true">

        <activity android:name="SDLActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
                  android:screenOrientation="sensorLandscape"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

            <meta-data android:name="android.app.lib_name" android:value="main" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
